.crop-management .head-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.crop-management .head-section .text-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: baseline;
    margin-bottom: 12px;
}

.crop-management .head-section .text-content h2 {
    color: #495057;
    font-size: 28px;
    font-weight: 700;
}

.crop-management .head-section .text-content p {
    font-size: 16px;
    color: #656f77;
}

.crop-management .overview-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.crop-management .crop-management-cards {
    margin-top: 40px;
}

.crop-management .crop-management-cards .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.crop-management .crop-management-cards .section-header h2 {
    color: #495057;
    font-size: 24px;
    font-weight: 600;
}

.crop-management .crop-management-cards .crop-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.crop-management .crop-management-cards .crop-filter-section {
    display: flex;
    margin-bottom: 20px;
    padding: 8px 0px 8px 8px;
    justify-content: flex-end;
}