.page-header {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: baseline;
}

.page-header .page-tile {
    color: #495057;
    font-size: 28px;
    font-weight: 700;
}

.page-header .page-subtitle {
    font-size: 16px;
    color: #656f77;
}